<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Animes #<%= animeNum %></h1>
	<h3><%= anime.anime %></h3>
	<h3>Great?: <%= anime.Great ? 'Yes' : 'No' %></h3>
</body>
</html>